<%- include('partials/header.ejs') %>

<body class="about">
    <div class="container">
        <!-- 1. Introduction Section:- -->
        <section id="intro">

            <div class="px-4 pt-5 my-5 text-center">
                <h1 class="display-4 fw-bold text-body-emphasis">Miral Gudhka</h1>
                <div class="mx-auto">
                  <p class="lead mb-4">A Programmer & Developer</p>
                </div>
              </div>
    
        </section>
    
        <!-- 2. About me Section:- -->
        <section id="aboutme">
    
            <div class="container">
                <p>I am a Passionate Developer Always trying to solve the problem before me with all my dedication and hardship. Currently learning Web dev from Angela Yu through Udemy & Data Structure and Algorithm from Love babbar through Youtube.</p>
            </div>
    
        </section>
    
        <!-- 3. Resume Section:- -->
        <section id="resume">
            <div class="container">
                <h2>Education</h2>
                <ul>
                    <li>Computer Engineering, Vidyalankar Institute of Technology (2021 - 2025).</li>
                </ul>
    
                <hr />
    
                <h2>Skills:</h2>
                <ul type="disc">
                    <li>C</li>
                    <li>C++</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Beginner level:</li>
                    <ul>
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>Java</li>
                    </ul>
                </ul>
    
                <hr />
    
                <h2>Certificates:</h2>
                <ul type="square">
                    <li>Python for Data Science (Infosys Springboard - 2023)</li>
                    <li>C: Data Structures, Pointers, and File Systems (LinkedIn Learning - 2022)</li>
                    <li>Object-Oriented Programming with Java (LinkedIn Learning - 2022)</li>
                </ul>
            </div>
    
        </section>
    </div>
    
</body>